<div class="card mb-3 container-fluid">
  <h3 class="card-header card border-dark">{{name}} {{episode}} Sub Español</h3>
  <div *ngIf="sanitizedLink" class="responsive-iframe-container card border-dark">
    <iframe *ngIf="sanitizedLink" [src]="sanitizedLink" frameborder="0"></iframe>
  </div>
  <div *ngIf="!sanitizedLink" class="text-center card border-dark">
    <app-spinner></app-spinner>
    <h6 *ngIf="exist">Cargando...</h6>
    <h6 *ngIf="!exist">Recurso no Encontrado <strong>404</strong></h6>
  </div>
  <div class="card border-dark flex flex-row gap-1 p-1">
    <button type="button" class="btn btn-outline-primary text-light" [disabled]="loading" (click)="handleClickAnt()">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">
          Anterior</font>
      </font>
    </button>
    <button type="button" class="btn btn-outline-secondary" (click)="navigate(name)">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">
          Detalles</font>
      </font>
    </button>
    <button type="button" [disabled]="loading" class="btn btn-outline-primary text-light" (click)="handleClickSig()">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">Siguiente</font>
      </font>
    </button>
  </div>
</div>
