<div *ngIf="animeDetails" class="container-fluid">
  <!-- <img src="" alt=""> -->
  <h1>FALTA LA IMAGEN COMO BACKGROUND</h1>
  <h2>{{ animeDetails.name }}</h2>
  <p>{{ animeDetails.description}}</p>
  <div>
    <h3>Datos</h3>
    <p>
      <span *ngFor="let data of animeDetails.information">
        {{data}}
      </span>
    </p>
  </div>
  <div>
    <h3>Generos</h3>
    <p>
      <span *ngFor="let gen of animeDetails.genres">
        {{gen}}
      </span>
    </p>
  </div>
  <div>
    FALTAN LOS episodios
  </div>

</div>
