<div class="d-flex flex-column justify-content-center align-items-center">
  <div *ngIf="Animes && Animes.length > 0" class="d-flex flex-wrap justify-content-center align-items-center">
    <div *ngFor="let anime of Animes" class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 m-2">
      <app-anime-card [anime]="anime"></app-anime-card>
    </div>
  </div>
  <div *ngIf="Animes && Animes.length === 0">
    <app-spinner></app-spinner>
  </div>
</div>
<div *ngIf="Animes && Animes.length > 0" class="d-flex flex-wrap justify-content-center align-items-center gap-2 mt-5">
  <button type="button" (click)="prevPage()" [disabled]="currentPage === 1" class="btn btn-outline-secondary">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
        Anterior</font>
    </font>
  </button>
  <button type="button" class="btn btn-outline-secondary" (click)="nextPage()" [disabled]="currentPage === lastPage">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">Siguiente</font>
    </font>
  </button>
</div>
