<nav class="navbar navbar-expand-md bg-dark mb-5 card border-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <span class="navbar-brand">
      <div class="icono card border-dark">
        <div class="content-icono-uno">
          <div class="ojo card border-danger"></div>
        </div>
        <div class="content-icono-dos">
          <div class="ojo card border-danger"></div>
        </div>
        <div class="boca card border-dark">
          <div class="leng"></div>
        </div>
      </div>
    </span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
      aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Inicio
          </a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li> -->
      </ul>
      <form class="d-flex">
        <input class="form-control me-sm-2" type="search" placeholder="Buscar">
        <button class="btn btn-secondary my-2 my-sm-0" type="button">Buscar</button>
      </form>
    </div>
  </div>
</nav>
